.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Mulish', sans-serif;
}

/* .header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}

.header__square-pic {
  height: 568px;
  width: 568px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
} */

/* HEADER */

.header{
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
  padding-left: 191px;
  padding-right: 192px;
}

.logo__image {
  display: block;
}

.navigation{
display: flex;
align-items: center;
}

.navigation__list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation__item:not(:last-child){
  margin-right: 40px;
}

.navigation__link{
text-decoration: none;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #1F1534;
opacity: 0.5;
}

.navigation__link_active_true {
font-weight: 700;
opacity: 1;
}

/* HEALTH */

.health {
min-height: 598px;
padding-left: 190px;
padding-right: 163px;
padding-top: 85px;
position: relative;
}

.health__title {
max-width: 427px;
margin: 0;
margin-top: 100px;
margin-bottom: 25px;
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
}

.health__subtitle {
max-width: 443px;
margin: 0;
margin-bottom: 45px;
font-family: 'Mulish';
font-style: normal;
font-weight: 300;
font-size: 21px;
line-height: 32px;
color: #7D7987;
}

.button{
display: flex;
justify-content: center;
align-items: center;
width: 200px;
height: 56px;
border: none;
border-radius: 55px;
text-decoration: none;
background-color: #458FF6;
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 18px;
color: #FFFFFF;
}

.health__main-illustration {
  display: block;
  height: 598px;
  position:absolute;
  bottom: 7px;
  right: 163px;
  z-index: -1;
}

.health__decoration {
  position: absolute;
  left: 0;
  top: 63px;
}

/* SERVICES */

.services {
  padding: 185px 240px 0;
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.section-title {
margin: 0;
padding-bottom: 26px;
position: relative;
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 56px;
text-align: center;
}

.section-title::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 532px;
  display: block;
  width: 56px;
  height: 2px;
  background-color: #000;
}

.section-heading {
max-width: 952px;
margin: 0 auto;
padding-top: 32px;
padding-bottom: 80px;
font-family: 'Mulish';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #7D7987;
}

.services__cards {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.services__cell {
box-sizing: border-box;
width: 350px;
padding: 50px 50px 47px 40px;
background: #FFFFFF;
box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
border-radius: 20px;
}

.services__cell:not(:nth-child(3n)){
  margin-right: 35px;
}

.services__cell:nth-child(n + 4) {
  margin-top: 37px;
}

.services__box-image {
  min-height: 95px;
  display: flex;
  align-items: center;
}

.services__image {
  display: block;
}

.services__cell-title{
margin-top: 22px;
margin-bottom: 0;
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 56px;
}

.services__cell-description{
margin: 0px;
font-family: 'Mulish';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 28px;
color: #7D7987;
}

.services__background {
  background-image: url(../images/bg_element.png);
  height: 968px;
  width: 1119px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: -133px;
  top: 180px;
  z-index: -1;
}

.button_type_bright {
  border: 1.4px solid #458FF6;
  background-color: #fff;
  color: #458FF6;
}

.button_place_services {
  margin: 72px auto 0;
}

.dots {
  background-image: url(../images/element_services.png);
  width: 132px;
  height: 115px;
}

.dots_place_services {
  position: absolute;
  top: 730px;
  right: 188px;
  z-index: -1;
}

/* PROVIDERS */

.providers {
  padding: 220px 164px 0 135px;
}

.card {
  display: flex;
  position: relative;
  max-width: 1200px;
  min-height: 477px;
}

.card:not(:last-child) {
  padding-bottom: 261px;
}

.card__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.card__box {
  padding-top: 57px;
  max-width: 400px;
  margin-left: auto;
}

.section-title_place_providers {
text-align: left;
}

.section-title_place_providers::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 56px;
  height: 2px;
  background-color: #000;
}

.section-heading_place_providers {
text-align: left;
padding-bottom: 37px;
}

.card_position_opposite {
  margin-left: auto;
}

.card__image_position_opposite {
  top: 0;
  right: 0;
  left: auto;
}

.card__box_position_opposite {
  margin-right: auto;
  margin-left: 0;
  padding-top: 0;
  max-width: 360px;
}
